<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code generator</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1>QR Code generator</h1>
        <hr>
        <form action="/scan" method="POST" class="form">
            <textarea name="text" class="form-control" id="formControl" rows="3" placeholder="Enter some text"></textarea>
        <button type="submit" class="mt-4 btn btn-primary btn-lg mr-md-3" type="submit" aria-disabled="true">Generate QR Code</button>
        </form>
    </div> 
</body>
</html>

